* text=auto !eol
abbrs/abr/ibm/Czech.abr -text
abbrs/abr/ibm/Danish.abr -text
abbrs/abr/ibm/Norwegian.abr -text
abbrs/abr/ibm/catalan.abr -text
abbrs/abr/ibm/dutch.abr -text
abbrs/abr/ibm/finnish.abr -text
abbrs/abr/ibm/french.abr -text
abbrs/abr/ibm/german.abr -text
abbrs/abr/ibm/greek.abr -text
abbrs/abr/ibm/hebrew.abr -text
abbrs/abr/ibm/italian.abr -text
abbrs/abr/ibm/polish.abr -text
abbrs/abr/ibm/portuguese.abr -text
abbrs/abr/ibm/russian.abr -text
abbrs/abr/ibm/spanish.abr -text
abbrs/abr/ibm/swedish.abr -text
abbrs/abr/ibm/thai.abr -text
abbrs/abr/rodolpho/catalan.abr -text
abbrs/abr/rodolpho/chinese.abr -text
abbrs/abr/rodolpho/czech.abr -text
abbrs/abr/rodolpho/danish.abr -text
abbrs/abr/rodolpho/default.abr -text
abbrs/abr/rodolpho/dutch.abr -text
abbrs/abr/rodolpho/english.abr -text
abbrs/abr/rodolpho/finnish.abr -text
abbrs/abr/rodolpho/french.abr -text
abbrs/abr/rodolpho/german.abr -text
abbrs/abr/rodolpho/italian.abr -text
abbrs/abr/rodolpho/japanese.abr -text
abbrs/abr/rodolpho/polish.abr -text
abbrs/abr/rodolpho/portuguese.abr -text
abbrs/abr/rodolpho/spanish.abr -text
abbrs/abr/rodolpho/swedish.abr -text
abbrs/abr/rodolpho/thai.abr -text
abbrs/json-cooked/de.json -text svneol=unset#application/json
abbrs/json-cooked/en.json -text svneol=unset#application/json
abbrs/json-cooked/es.json -text svneol=unset#application/json
abbrs/json-cooked/fr.json -text svneol=unset#application/json
abbrs/json-cooked/it.json -text svneol=unset#application/json
abbrs/json-cooked/pt.json -text svneol=unset#application/json
abbrs/json-cooked/ru.json -text svneol=unset#application/json
abbrs/json/de.json -text svneol=unset#text/json
abbrs/json/en.json -text svneol=unset#text/json
abbrs/json/es.json -text svneol=unset#text/json
abbrs/json/fr.json -text svneol=unset#application/json
abbrs/json/it.json -text svneol=unset#application/json
abbrs/json/pt.json -text svneol=unset#application/json
abbrs/json/ru.json -text svneol=unset#text/json
abbrs/src/Makefile -text
abbrs/src/cookjson.py -text
abbrs/src/json2cldr.py -text
abbrs/src/xls2json.py -text
abbrs/src/xls2txt.py -text
abbrs/srx/catalan.srx -text
abbrs/srx/czech.srx -text
abbrs/srx/danish.srx -text
abbrs/srx/dutch.srx -text
abbrs/srx/english.srx -text
abbrs/srx/finnish.srx -text
abbrs/srx/french.srx -text
abbrs/srx/german.srx -text
abbrs/srx/greek.srx -text
abbrs/srx/hebrew.srx -text
abbrs/srx/italian.srx -text
abbrs/srx/norwegian.srx -text
abbrs/srx/polish.srx -text
abbrs/srx/portuguese.srx -text
abbrs/srx/russian.srx -text
abbrs/srx/spanish.srx -text
abbrs/srx/swedish.srx -text
abbrs/srx/thai.srx -text
abbrs/xls/de.xls -text
abbrs/xls/en.xls -text
abbrs/xls/es.xls -text
abbrs/xls/fr.xls -text
abbrs/xls/it.xls -text
abbrs/xls/pt.xls -text
abbrs/xls/ru.xls -text
abbrs/xls_dbpedia/README -text
abbrs/xls_dbpedia/de-unique.txt svneol=native#text/plain
abbrs/xls_dbpedia/de.xls -text
abbrs/xls_dbpedia/en-unique.txt svneol=native#text/plain
abbrs/xls_dbpedia/en.xls -text
abbrs/xls_dbpedia/es.xls -text
abbrs/xls_dbpedia/fr.xls -text
abbrs/xls_dbpedia/it.xls -text
abbrs/xml/common/dtd/ldml.dtd -text
abbrs/xml/common/segments/de.xml svneol=native#text/xml
abbrs/xml/common/segments/en.xml svneol=native#text/xml
abbrs/xml/common/segments/es.xml svneol=native#text/xml
abbrs/xml/common/segments/fr.xml svneol=native#text/xml
abbrs/xml/common/segments/it.xml svneol=native#text/xml
abbrs/xml/common/segments/pt.xml svneol=native#text/xml
abbrs/xml/common/segments/ru.xml svneol=native#text/xml
docs/images/ulilogo.intaglio -text
docs/images/ulilogo.png -text svneol=unset#image/png
docs/images/ulilogo.svg -text
docs/images/ulilogosmall.png -text svneol=unset#image/png
docs/spec/enxls.png -text svneol=unset#image/png
docs/spec/guidelines.html svneol=native#text/html
